<h2><%= @article.title %></h2>
<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>
<p>
  <strong>Tags:</strong>
  <span class="badge badge-pill badge-info"><%= @article.tags.join(', ') %></span>
</p>
<p>
  <strong>User email:</strong>  
  <%= @article.user.try(:email) %>
</p>

<p>
  <strong> Likes:</strong>
  <%= @article.likes.count %>
</p>

<%= link_to "Like", article_likes_path(@article), method: :post, class: 'btn btn-success' %>

<hr>

<h3>Comments</h3>
<%= render @article.comments %>

<h5>Add a comment:</h5>
<%= render partial: 'comments/form' %>

<% if @article.user == current_user %>
  <%= link_to 'Edit', edit_article_path(@article), class: 'btn btn-secondary' %>
<% end %>

<%= link_to 'Back', articles_path, class: 'btn btn-secondary' %>